<div [ngClass]="['wrapperFormViewResetPassword']">
    <div #wrapperFormViewResetPassword [ngClass]="['wrapperFormViewResetPassword']">
      <div [ngClass]="'row'">
        <div [ngClass]="['col-12', 'wrapperFormViewResetPassword']">
          <div [ngClass]="['d-flex', 'justify-content-center']">
              <div [ngClass]="['d-flex', 'justify-content-center']">
                   <img src="{{ urlApp }}assets/images/logoPlatform/logo.webp" [ngClass]="'logoSystemView'">
              </div>
              <div [ngClass]="'titlesPlatform'">
                  <h1 [ngClass]="'titleSystemViewResetPassword'">{{ titleWindowPlatform }}</h1>
                  <h6 [ngClass]="'subTitleSystemViewResetPassword text-muted'">{{ titleWindowPlatform }}</h6>
              </div>
          </div>
          <div [ngClass]="'col-12 contentFormViewResetPassword'" *ngIf="!showViewResetPasswordFail">          
              <form [formGroup]="formAuthResetPassword" (ngSubmit) = "authResetPasswordUser(formAuthResetPassword)" *ngIf="!showViewResetPasswordFail">
                  <div [ngClass]="'form-group'">
                      <label for="labelUsername" [ngClass]="'labelInputViewResetPassword'">Usuario</label>
                      <div [ngClass]="'input-group mb-2'">
                          <div [ngClass]="'input-group-prepend'">
                              <div [ngClass]="'input-group-text'"><span [ngClass]="'glyphicon glyphicon-user'" aria-hidden="true"></span></div>
                          </div>
                          <input type="text" formControlName="inputUsername" [ngClass]="{'form-control' : true, 'is-valid': !formGroupControls['inputUsername'].errors, 'is-invalid': formGroupControls['inputUsername'].errors && formGroupControls['inputUsername'].touched }" name="inputUsername" #inputUsername (focus)="focusInputUsername($event)" (focusout)="focusOutInputUsername()" (keyup)="validateMaxLengthCharacter($event, maxLengthCharacterInputUsername)"  maxlength="{{ maxLengthCharacterInputUsername }}" aria-describedby="username" placeholder="Digite Usuario" required>
                      </div>
                      <small *ngIf="showMaxLengthCharacterInputUsername" [ngClass]="'form-text text-muted float-right maxCharactersInputsViewResetPassword'">{{ lengthCharacterInputUsername }}/{{ maxLengthCharacterInputUsername }}</small>
                      <div *ngIf="formGroupControls['inputUsername'].errors && formGroupControls['inputUsername'].touched">
                          <small *ngIf="formGroupControls['inputUsername'].errors['required']" [ngClass] = "'form-text text-danger'">Por favor, ingresa tu usuario.</small>
                          <small *ngIf="formGroupControls['inputUsername'].errors['maxlength']" [ngClass] = "'form-text text-danger'">La longitud maxima de caracteres es de {{ maxLengthCharacterInputUsername }}.</small>
                      </div>
                  </div>                  
                  <div [ngClass]="'alert alert-danger marginTopAlertAuth'" role="alert" *ngIf="showAlertDanger">
                    {{ responseHttpMessage }}
                  </div>                  
                  <div [ngClass]="'wrapperButtonViewAuth d-flex justify-content-center'">
                      <button type="submit" [disabled]="formAuthResetPassword.invalid" [ngClass]="['btn', 'btn-primary', 'btn-lg', 'btn-block']">Recuperar Contraseña</button>
                  </div>
                  <div  [ngClass]="'wrapperButtonViewAuth'">
                    <small [ngClass]="'form-text text-center'"><a [routerLink] = "'/iniciar-sesion'">Iniciar Sesión</a></small>
                </div>
              </form>
          </div>
          <div [ngClass]="'col-12 contentFormViewResetPasswordFail'" *ngIf="showViewResetPasswordFail">
              <h4 [ngClass]="'titleSystemViewResetPasswordFail'">Error al Resetear Contraseña</h4>
              <p [ngClass]="'paragraphViewResetPasswordFail text-muted'">El usuario no existe en el sistema.</p>
              <p [ngClass]="'paragraphViewResetPasswordFail text-muted'">Para retornar al formulario de Recuperar Contraseña click en el siguiente enlace <a href="#" (click)="showViewFormResetPassword($event)">Recuperar Contraseña</a></p>
          </div>
        </div>
      </div>
    </div>
    <app-slider-auth [languageViewModel]="languageViewResetPasswordModel"></app-slider-auth>  
</div> 